<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="masthead-container">
      <div class="container">

      <div class="masthead">
        <span class="masthead-title">
          <a href="{{ site.url }}" title="Home">{{ site.title }}</a>
        </span>

        <span class="nav-page">

          <a href="http://jeapllc.github.io/#services">SERVICES</a>
          <a  href="/#history">HISTORY</a>
        </span>
      </div>

      </div>
    </div>

    <div class = "background black">
      <div class="container-hero">

      <div class="flexbox-parent">
        <div class="flexbox-child flexbox-child-header">
          EXPERIENCED
        </div>
        <div class="flexbox-child flexbox-child-body">
          Bacon ipsum dolor amet filet mignon short ribs pork loin turducken chuck. Beef ribs pancetta pig meatloaf chicken picanha fatback bresaola ham drumstick short loin porchetta shankle. Prosciutto boudin jowl, frankfurter cupim alcatra chuck. Salami rump cupim, swine tongue sirloin beef ribs flank short ribs pork chop t-bone.
        </div>
      </div>

      <div class="flexbox-parent ">
        <div class="flexbox-child flexbox-child-header">
          PROVEN
        </div>
        <div class="flexbox-child flexbox-child-body">
          Bacon ipsum dolor amet filet mignon short ribs pork loin turducken chuck. Beef ribs pancetta pig meatloaf chicken picanha fatback bresaola ham drumstick short loin porchetta shankle. Prosciutto boudin jowl, frankfurter cupim alcatra chuck. Salami rump cupim, swine tongue sirloin beef ribs flank short ribs pork chop t-bone.
        </div>
      </div>

    </div>
    </div>

    <div class="background grey">
      <div id="section-services" class="section shadow--4dp">
        <div class="section-ribbon green">
          <h1 id="services">SERVICES</h1>
        </div>
        <div class="section-text">
          <p>
            Bacon ipsum dolor amet filet mignon short ribs pork loin turducken chuck. Beef ribs pancetta pig meatloaf chicken picanha fatback bresaola ham drumstick short loin porchetta shankle. Prosciutto boudin jowl, frankfurter cupim alcatra chuck. Salami rump cupim, swine tongue sirloin beef ribs flank short ribs pork chop t-bone.

            Bacon ipsum dolor amet filet mignon short ribs pork loin turducken chuck. Beef ribs pancetta pig meatloaf chicken picanha fatback bresaola ham drumstick short loin porchetta shankle. Prosciutto boudin jowl, frankfurter cupim alcatra chuck. Salami rump cupim, swine tongue sirloin beef ribs flank short ribs pork chop t-bone.
          </p>
        </div>
      </div>

      <div id="section-history" class="section shadow--4dp">
        <div class="section-ribbon red">
          <h1 id="history">HISTORY</h1>
        </div>
        <div class="section-text">
          <p>
            Bacon ipsum dolor amet filet mignon short ribs pork loin turducken chuck. Beef ribs pancetta pig meatloaf chicken picanha fatback bresaola ham drumstick short loin porchetta shankle. Prosciutto boudin jowl, frankfurter cupim alcatra chuck. Salami rump cupim, swine tongue sirloin beef ribs flank short ribs pork chop t-bone.

            Bacon ipsum dolor amet filet mignon short ribs pork loin turducken chuck. Beef ribs pancetta pig meatloaf chicken picanha fatback bresaola ham drumstick short loin porchetta shankle. Prosciutto boudin jowl, frankfurter cupim alcatra chuck. Salami rump cupim, swine tongue sirloin beef ribs flank short ribs pork chop t-bone.
          </p>
        </div>
      </div>
    </div>




  </body>
</html>
